.depto-selected {
  background-color: #282c34;
  border-radius: 10px;
  padding: 15px;
}

.div-total {
  background-color: #282c34;
  border-radius: 10px;
}
.text-class {
  margin-left: 5px;
}

.span-total {
  padding: 5px;
}
